### Задача 1

Используя соответствующую функцию библиотеки pandas, подгрузите датасет 'train.csv' из .csv файла. Выведите на экран первые 5 строчек файла (метод head)

In [0]:
from google.colab import files

files.upload()
!ls

Saving train_lesson_pandas.csv to train_lesson_pandas.csv
 sample_data  'train _lesson_pandas.csv'   train_lesson_pandas.csv

In [0]:
import pandas as pd

data = pd.read_csv('train _lesson_pandas.csv')
data.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

### Задача 2

Для подгруженного датасета из предыдущей задачи:
* посчитайте сколько записей
* определите тип данных в каждом столбце
* проверьте, есть ли пропуски
* выведите на экран описательные статистики

P.S. используйте соответствующие встроенные методы

In [0]:
print('Count:', data.shape[0])

Count: 1460

In [0]:
data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [0]:
nullls = data.isnull().sum().to_list()
print(nullls)

[0, 0, 0, 259, 0, 0, 1369, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 0, 0, 0, 37, 37, 38, 37, 0, 38, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 690, 81, 81, 81, 0, 0, 81, 81, 0, 0, 0, 0, 0, 0, 0, 1453, 1179, 1406, 0, 0, 0, 0, 0, 0]

### Задача 3

Используя соответствующий встроенный метод, "дропните", т.е. удалите из нашей таблички все столбцы, у которых кол-во пропущенных значений больше 200.

* найдите все такие столбцы (метод .isna() + подвыборка с условием)
* определите их названия (поймите как выцепить названия и сохраните их в массив, т.е. по цепочке примените методы .index, .tolist() или .values)
* "дропните их" (используйте метод .drop(имена столбцов))
* результат сохраните в новой табличке (например, data_1), исходную менять не нужно

In [0]:
mask = data.isna().sum() > 200
mask = mask.to_list()
list_index = []
for i in range(len(mask)):
  if mask[i]:
    list_index.append(i)
print(list_index)
data_1 = data.drop(data.columns[list_index], axis = 'columns')
print(data.shape)
print(data_1.shape)
print(data_1.isnull().sum().to_list())

[3, 6, 57, 72, 73, 74]
(1460, 81)
(1460, 75)
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 0, 0, 0, 37, 37, 38, 37, 0, 38, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 81, 81, 81, 0, 0, 81, 81, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### Задача 4

В финальном датасете из прошлой задачи "дропните" все строки с пропусками в данных, используйте соответствующий встроенный метод (.dropna()). В этой задаче, в отличие от предыдущей, выполните операцию "inplace", т.е. измените исходную таблицу.

In [0]:
data_1.dropna(inplace = True)
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1338 entries, 0 to 1459
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1338 non-null   int64
 1   MSSubClass     1338 non-null   int64
 2   MSZoning       1338 non-null   object
 3   LotArea        1338 non-null   int64
 4   Street         1338 non-null   object
 5   LotShape       1338 non-null   object
 6   LandContour    1338 non-null   object
 7   Utilities      1338 non-null   object
 8   LotConfig      1338 non-null   object
 9   LandSlope      1338 non-null   object
 10  Neighborhood   1338 non-null   object
 11  Condition1     1338 non-null   object
 12  Condition2     1338 non-null   object
 13  BldgType       1338 non-null   object
 14  HouseStyle     1338 non-null   object
 15  OverallQual    1338 non-null   int64
 16  OverallCond    1338 non-null   int64
 17  YearBuilt      1338 non-null   int64
 18  YearRemodAdd   1338 non-null   int64
 19  RoofStyle      1338 non-null   object
 20  RoofMatl       1338 non-null   object
 21  Exterior1st    1338 non-null   object
 22  Exterior2nd    1338 non-null   object
 23  MasVnrType     1338 non-null   object
 24  MasVnrArea     1338 non-null   float64
 25  ExterQual      1338 non-null   object
 26  ExterCond      1338 non-null   object
 27  Foundation     1338 non-null   object
 28  BsmtQual       1338 non-null   object
 29  BsmtCond       1338 non-null   object
 30  BsmtExposure   1338 non-null   object
 31  BsmtFinType1   1338 non-null   object
 32  BsmtFinSF1     1338 non-null   int64
 33  BsmtFinType2   1338 non-null   object
 34  BsmtFinSF2     1338 non-null   int64
 35  BsmtUnfSF      1338 non-null   int64
 36  TotalBsmtSF    1338 non-null   int64
 37  Heating        1338 non-null   object
 38  HeatingQC      1338 non-null   object
 39  CentralAir     1338 non-null   object
 40  Electrical     1338 non-null   object
 41  1stFlrSF       1338 non-null   int64
 42  2ndFlrSF       1338 non-null   int64
 43  LowQualFinSF   1338 non-null   int64
 44  GrLivArea      1338 non-null   int64
 45  BsmtFullBath   1338 non-null   int64
 46  BsmtHalfBath   1338 non-null   int64
 47  FullBath       1338 non-null   int64
 48  HalfBath       1338 non-null   int64
 49  BedroomAbvGr   1338 non-null   int64
 50  KitchenAbvGr   1338 non-null   int64
 51  KitchenQual    1338 non-null   object
 52  TotRmsAbvGrd   1338 non-null   int64
 53  Functional     1338 non-null   object
 54  Fireplaces     1338 non-null   int64
 55  GarageType     1338 non-null   object
 56  GarageYrBlt    1338 non-null   float64
 57  GarageFinish   1338 non-null   object
 58  GarageCars     1338 non-null   int64
 59  GarageArea     1338 non-null   int64
 60  GarageQual     1338 non-null   object
 61  GarageCond     1338 non-null   object
 62  PavedDrive     1338 non-null   object
 63  WoodDeckSF     1338 non-null   int64
 64  OpenPorchSF    1338 non-null   int64
 65  EnclosedPorch  1338 non-null   int64
 66  3SsnPorch      1338 non-null   int64
 67  ScreenPorch    1338 non-null   int64
 68  PoolArea       1338 non-null   int64
 69  MiscVal        1338 non-null   int64
 70  MoSold         1338 non-null   int64
 71  YrSold         1338 non-null   int64
 72  SaleType       1338 non-null   object
 73  SaleCondition  1338 non-null   object
 74  SalePrice      1338 non-null   int64
dtypes: float64(2), int64(35), object(38)
memory usage: 794.4+ KB

### Задача 5

Данные, с которыми мы работаем в этом домашнем задании, содержат информацию о проданных домах. В табличке из прошлой задачи найдите все дома, проданные в 2007 году, у которых цена продажи выше 300000 и есть бассейн. Для подвыборки с указанными условиями сначала создайте маску.

* цена продажи SalePrice
* год продажи YrSold
* наличие бассейна можно определить по столбцу PoolArea

In [0]:
data_1.index = data_1.Id
data_1.drop(['Id'], axis=1, inplace = True)

In [0]:
mask = (data_1.SalePrice > 300000) & (data_1.YrSold == 2007) & (data_1.PoolArea > 0)
data_1[mask]

      MSSubClass MSZoning  LotArea  ... SaleType SaleCondition SalePrice
Id                                  ...
1183          60       RL    15623  ...       WD       Abnorml    745000

[1 rows x 74 columns]

### Задача 6

Добавьте к табличке data_1 новый столбец с названием 'Flag'. Присвойте ему значения 0 или 1 в случайном порядке. Для этого:
    
* создайте одномерный массив из случайных целых чисел 0 или 1
* размер массива должен соответствовать кол-ву наблюдений в основной табличке
* создайте новый столбец и присвойте ему значения одномерного массива

In [0]:
data_1.shape[0]

1338

In [0]:
import numpy as np
from random import randint

m = np.zeros((data_1.shape[0],1))
for i in range(0,data_1.shape[0]):
    m[i][0] = randint(0, 1)

array([[1.],
       [0.],
       [0.],
       ...,
       [1.],
       [1.],
       [0.]])

In [0]:
data_1['Flag'] = m
data_1.head()

    MSSubClass MSZoning  LotArea Street  ... SaleType SaleCondition SalePrice Flag
Id                                       ...
1           60       RL     8450   Pave  ...       WD        Normal    208500  1.0
2           20       RL     9600   Pave  ...       WD        Normal    181500  0.0
3           60       RL    11250   Pave  ...       WD        Normal    223500  0.0
4           70       RL     9550   Pave  ...       WD       Abnorml    140000  1.0
5           60       RL    14260   Pave  ...       WD        Normal    250000  1.0

[5 rows x 75 columns]

## Задачи Pro

### Задача 1: DateTime index

* Подгрузите данные 'data.csv' (возможно придется указать кодировку encoding сp1250)
* Преобразуйте колонку Invoice Date в DateTime index
* Удалите колонку Invoice Date
* Сохраните получившуюся табличку в новую переменную data

**База:** https://drive.google.com/open?id=1PVm91uYGSyjYEQcUS6fX8SQOqvjWSf38

In [7]:
from google.colab import files

files.upload()
!ls

Saving data.csv to data.csv
data.csv  sample_data

In [2]:
import pandas as pd

data_pro = pd.read_csv('data.csv', encoding='cp1250')
data_pro.index = pd.to_datetime(data_pro['InvoiceDate'])
data = data_pro.drop(['InvoiceDate'], axis='columns')
data.head()

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 7 columns]

### Задача 2

Используя табличку, полученную в результате выполнения предыдущей задачи, выберите все заказы, совершенные за период 7 Декабря 2010 года с часа дня до часа и одной минуты.

In [0]:
data['2010-12-07 12:59:59':'2010-12-07 13:01:01']

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-07 13:01:00    537604     84991  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21845  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21534  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21527  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21528  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21843  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22429  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22551  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22557  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22555  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22304  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22305  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20749  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22525  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22524  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22515  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22514  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22518  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     82552  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20750  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21212  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21210  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22567  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22558  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21155  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22061  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     37446  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     37449  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22519  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21754  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20969  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20967  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22570  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22568  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22569  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     20971  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     84880  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     82484  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22173  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     84879  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21136  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22185  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     22488  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     71477  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604    85123A  ...    13488.0  United Kingdom

[45 rows x 7 columns]

### Задача 3

По той же рабочей табличке:
* посчитайте кол-во уникальных наименований товаров, которые купили за весь период (т.е. по всем данным). Используйте соответствующий метод
* найдите все уникальные страны, в которых были размещены заказы

In [0]:
data.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [0]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

### Задача 4

* Посчитайте матрицу корреляции Спирмена для наших данных
* Найдите 1%, 50% и 99% квантили цены за единицу товара

In [0]:
data.corr(method='spearman')

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.385407   -0.141124
UnitPrice  -0.385407   1.000000   -0.013255
CustomerID -0.141124  -0.013255    1.000000

In [0]:
data['UnitPrice'].quantile([0.01, 0.5, 0.99])

0.01     0.19
0.50     2.08
0.99    18.00
Name: UnitPrice, dtype: float64

### Задача 5

Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого:
* сделайте подвыборку, соответствующую условию "в понедельник", используйте метод datetime индекса weekday_name
* посчитайте кол-во уникальных ID клиентов

In [0]:
task_5 = data[(data.index.dayofweek) == 0]
task_5['CustomerID'].nunique()

1769

### Задача 6

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

In [0]:
data['TotalCost'] = data['Quantity'] * data['UnitPrice']
task_6 = data.resample('W-MON').sum()
task_6

             Quantity   UnitPrice   CustomerID   TotalCost
InvoiceDate
2010-12-06     100481   56405.970  153658671.0  235707.430
2010-12-13     114652  138972.340  142483474.0  251806.190
2010-12-20     102788   46884.580  105403876.0  196414.580
2010-12-27      24307   18257.960   15151727.0   65028.820
2011-01-03          0       0.000          0.0       0.000
2011-01-10      82505   68741.300   93121247.0  117912.570
2011-01-17      89957   36682.090   75595470.0  196059.320
2011-01-24      66534   35392.170   70654960.0  130082.530
2011-01-31      69970   31937.240   92548094.0  115945.840
2011-02-07      63724   27829.880   78300527.0  126803.520
2011-02-14      54811   25330.190   58557345.0  102992.970
2011-02-21      88034   42504.120   84562938.0  137250.380
2011-02-28      71420   31784.580   90360050.0  131015.780
2011-03-07      71065   33244.550   89939413.0  139207.460
2011-03-14      57066   29560.960   82998454.0  124519.970
2011-03-21      80212   48014.780   91453864.0  135768.290
2011-03-28      75160   37335.430  104015392.0  150746.560
2011-04-04     104448   48600.760  101609585.0  189367.700
2011-04-11      61950   30424.420   95116663.0  118635.510
2011-04-18      93775   36038.781  106332611.0  157535.071
2011-04-25      50609   19930.690   53599284.0   83275.640
2011-05-02      50499   18799.510   58207424.0   84382.660
2011-05-09      88238   58753.830  109971385.0  156414.740
2011-05-16     104549   58134.220  117952318.0  204664.570
2011-05-23     107787   44373.530  121545810.0  203491.310
2011-05-30      64457   23045.090   69104112.0  129830.270
2011-06-06      66458   30928.550   92652332.0  133723.910
2011-06-13      96524   78797.740  112530301.0  181498.410
2011-06-20      76660   41135.440  105353054.0  197136.970
2011-06-27      61044   39266.900   90351547.0  100417.170
2011-07-04      78629   30412.510   77644128.0  163618.330
2011-07-11      90811   35112.590   94245647.0  152933.950
2011-07-18      79119   63804.590  101183318.0  130176.910
2011-07-25     105576   38347.090  107736230.0  180758.340
2011-08-01      99411   24273.641   95563444.0  175490.041
2011-08-08      99660   42238.760  101452550.0  151800.510
2011-08-15      95262   22838.160   81618393.0  158635.410
2011-08-22     102062   25298.590  109322552.0  181497.760
2011-08-29      82110   33840.130   94688943.0  121625.090
2011-09-05      90137   44462.160   99152393.0  180663.100
2011-09-12     102422   36105.870  126859329.0  182708.740
2011-09-19     128780   59125.300  133289442.0  228895.520
2011-09-26     151045   51133.692  170720987.0  308586.782
2011-10-03     127623   46631.970  161569767.0  242430.740
2011-10-10     159229   59115.180  201661480.0  282517.700
2011-10-17     109475   48926.830  159835259.0  208532.890
2011-10-24     142111   62827.270  174717269.0  255105.800
2011-10-31     126685   76136.530  187443653.0  248709.920
2011-11-07     163554   63246.220  206257307.0  309792.400
2011-11-14     195267   77461.600  244694074.0  388700.170
2011-11-21     157261   73853.570  241132527.0  316568.960
2011-11-28     167211   78033.770  241147917.0  315324.540
2011-12-05     167279  118021.940  220323136.0  322184.290
2011-12-12     116047   50448.410  124084194.0  242853.900

### Задача 7

Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого:
* Сделайте resampling в ежедневные данные
* Посчитайте скользящее среднее за 7 дней по столбцу TotalCost

In [0]:
task_7 = data.resample('d').sum()
task_7['TotalCostMA'] = task_7['TotalCost'].rolling(window=7).mean()

In [0]:
task_7.tail()

             Quantity  UnitPrice  CustomerID  TotalCost   TotalCostMA
InvoiceDate
2011-12-05      44119   57195.74  51763938.0   57751.32  46026.327143
2011-12-06      29026   10364.64  41776904.0   54228.37  43456.208571
2011-12-07      39612    9049.19  33953553.0   75076.22  45731.242857
2011-12-08      34460   21808.10  39236168.0   81417.78  50017.932857
2011-12-09      12949    9226.48   9117569.0   32131.53  46453.000000

### Задача 8: GroupBy

Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам

In [0]:
data.groupby(['Country']).resample('M').sum().TotalCost.head()

Country    InvoiceDate
Australia  2010-12-31      1005.10
           2011-01-31      9017.71
           2011-02-28     14627.47
           2011-03-31     17055.29
           2011-04-30       333.40
Name: TotalCost, dtype: float64

### Задача 9: JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv)
* Назовите ее cards
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards
* Если будет переполнение памяти, попробуйте взять не все значения таблицы, а, например, первые 100 с помощью соответствующего метода iloc

**База:** https://drive.google.com/open?id=1NciibA3gFIb4llZ-s_umxved-CAGNENh

In [9]:
files.upload()
!ls

Saving card_data.csv to card_data.csv
card_data.csv  data.csv  sample_data

In [0]:
cards = pd.read_csv('card_data.csv')
task_8 = pd.merge(data.iloc[:101,:], cards.iloc[:101,:], how='left')

In [4]:
task_8.head()

  InvoiceNo StockCode  ...         Country  TransactionNum
0    536365    85123A  ...  United Kingdom             127
1    536365    85123A  ...  United Kingdom             414
2    536365    85123A  ...  United Kingdom             296
3    536365    85123A  ...  United Kingdom             409
4    536365    85123A  ...  United Kingdom             309

[5 rows x 8 columns]