## Домашнее задание 1: Введение в Python

Добрый день. На всякий случай уточняю свою ситуацию, хотя мне сказали, что вам расскажут. Мне летом необходимо будет сделать перерыв на месяц, поэтому я делаю задания вашего потока, чтобы уйти вперед. В тоже время мне важно трудоустройство и просто по возможности большие баллы, поэтому мне пошли на встречу и обещали не снижать баллы за то, что задание сдано уже после разбора. Я в свою очередь беру обязательство не смотреть разбор до завершения и сдачи ДЗ. 

Благодарю вас за проверку.


Also, my english is very bad))) But I learn write comments in english. Sorry for mistakes)

## Light версия

### Задача 1

Считайте с входящей строки два целых числа и выведите их сумму, разность, произведение.

In [10]:
 n, m = map(int, input('Введите пожалуйста два целых числа через пробел: ').split())
 # function 'map' apply func 'int' for every element func 'input'
 print('Их сумма:', n + m)
 print('Их разность:', n-m)
 # In fact, there could have been m-n, but I suppose we need only one example
 print('Их произведение:', n*m)

Введите пожалуйста два целых числа через пробел: 4 56
Их сумма: 60
Их разность: -52
Их произведение: 224

### Задача 2

Дан ряд целых чисел от 10 до 25 включительно. Используя цикл for выведите на экран сумму двух последовательно идущих чисел.


**Пример**: 

Для ряда от 2 до 6 включительно выдача выглядит так: 

5

7

9

11

In [9]:
for i in range(10, 25):
  print(i * 2 + 1)
# Although 25 is not included in our range, we don't need this number, 
# otherwise we will get one answer more than necessary

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

### Задача 3

Для ряда целых чисел от 100 до 150 включительно выведите на экран только те, что делятся на 5 без остатка.

In [11]:
for i in range(100, 151, 5):
  print(i)

100
105
110
115
120
125
130
135
140
145
150

### Задача 4

Считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя конструкцию if...else выведите на экран результат в зависимости от условий:

* Если N нечетное, то выведите на экран "N нечетное"
* Если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]"
* Если N четное и больше 10, выведите на экран "N четное и N > 10"
* Если N четное и меньше 5, выведите на экран "N четное и N < 5"

In [16]:
N = int(input('Пожалуйста, введите целое положительное число: '))
if N % 2 != 0:
  print("N нечетное")
elif N > 10:
  print("N четное и N > 10")
elif N < 5:
  print("N четное и N < 5")
else:
  print("N четное и принадлежит интервалу [5, 10]")

Пожалуйста, введите целое положительное число: 8
N четное и принадлежит интервалу [5, 10]

### Задача 5

Используя цикл while, посчитайте и выведите на экран сумму всех целых чисел от 15 до 22 включительно.

In [19]:
i = 15
summa = 0
while i < 23:
  summa += i
  i += 1
print(summa)

148

In [21]:
# this is my test
37 * 4

148

### Задача 6

Используя цикл for, найдите сумму всех элементов заданного списка. (Без использования встроенных функций sum и т.д.)

In [24]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]
summa = 0
for i in my_list:
  summa += i
print(summa)

880

### Задача 7

Используя цикл (любой) найдите значение максимального элемента списка из предыдущего задания. (Без использования встроенных функций max и т.д.) Можно использовать встроенные методы списков (любые). 

P.S.: не стесняйтесь гуглить :)

P.S.2: гуглить нужно фразу "алгоритм поиска максимального элемента массива"

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7

In [33]:
# I was a little surprised that nothing better than brute force

def maximum(m):
  local_maximum = float('-inf')
  for i in m:
    if i > local_maximum:
      local_maximum = i
  return local_maximum

print(maximum([3, 4, 1, 7, 2]))

7

### Задача 8

Создайте словарь, соответствующий следующему описанию: 
    
В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, ни съел ни одной.

P.S. все совпадения случайны :)

In [0]:
candy_from_Valera = {'Наташа' : 2, 
         'Алина' : 3, 
         'Марат' : 15,
         'Лев' : 1,
         'Валера' : 0
        }

### Задача 9

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. используйте встроенный метод .update

In [0]:
# wait but why 'update'? I find it strange))  But O-K..
later = dict(Рома = 4)
candy_from_Valera.update(later)

In [41]:
# it is not task, it is my test
print(candy_from_Valera)

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0, 'Рома': 4}

## Pro версия

### Задача 1

Выведите на экран следующий паттерн:

@

@ @

@ @ @

@ @ @ @ @

Обратите внимание на пробел между символами

In [97]:
# This is an intentionally complex, but more universal solution.
# n >= 1
def sobaken(n):
  m_fib = [1, 1]
  current_n = 2
  count = 1
  print('@\n')
  while count < n:
    print(('@ ' * current_n).rstrip())
    m_fib.append(m_fib[-2] + m_fib[-1])
    count += 1
    current_n = m_fib[-2] + m_fib[-1]
    print('')


sobaken(4)

@

@ @

@ @ @

@ @ @ @ @

### Задача 2

Выведите на экран следующий паттерн:

1

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

Обратите внимание на пробел между символами

In [58]:
# This is an intentionally complex, but more universal solution.
# n >= 1
def number_montain(n):
  m = [i for i in range(1, n+1)]
  l_str = ''
  r_str = ''
  count = 1
  while len(m) > 0:
    l_str += (str(m[0]) + ' ') * count + '\n\n'
    if len(m) > 1:
      r_str = (str(m[-1]) + ' ') * count + '\n\n' + r_str
    count += 1
    del m[0]
    if len(m) > 0:
      del m[-1]
  ans = l_str + r_str
  return(ans[:-3])


print(number_montain(9))
# oh, I hope I haven’t missed anything =)

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

### Задача 3

Используя цикл while, выведите на экран таблицу умножения для числа 7.

**Пример:**
    
Для числе 5 выдача выглядит так:
    
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

...

5 * 9 = 45

In [61]:
def table_mult(m1):
  m2 = 1
  while m2 < 10:
    print(f'{m1} * {m2} =', m1 * m2)
    if m2 != 9:
      print('')
    m2 += 1


table_mult(7)

7 * 1 = 7

7 * 2 = 14

7 * 3 = 21

7 * 4 = 28

7 * 5 = 35

7 * 6 = 42

7 * 7 = 49

7 * 8 = 56

7 * 9 = 63

### Задача 4

Представьте, что вы подбрасываете два кубика одновременно. Считайте с входящей строки два целых числа d1 и d2. Проверьте, соответсуют ли введенные числа интервалу значений для кубика. Если нет, то выведите на экран строку "Ошибка! Значение на кубике (1 или 2, вставьте подходящее значение) не входит в интервал [1, 6]". В противном случае посчитайте сумму выпавших значений. Если сумма равна 7 или 11, выведите на экран "Я победил!!!". Если сумма равна 2, 3 или 12, то выведите на экран "Я проиграл :(". Во всех остальных случаях выведите на экран сумму значений.

In [72]:
# It is not obvious whether to check the value of the second cube if the first is erroneous. 
# I chose a simpler option.
d1, d2 = map(int, input('Введите два целых числа: ').split())
if d1 < 1 or d1 > 6:
  print("Ошибка! Значение на первом кубике не входит в интервал [1, 6]")
elif d2 < 1 or d2 > 6:
  print("Ошибка! Значение на втором кубике не входит в интервал [1, 6]")
else:
  summa = d1 + d2
  if summa == 7 or summa == 11:
    print("Я победил!!!")
  elif summa == 2 or summa == 3 or summa == 12:
    print("Я проиграл :(")
  else:
    print(summa)
# I don't like too much conditions =(

Введите два целых числа: 4 4
8

### Задача 5

Напишите код, который ищет все числа в интервале от 3000 до 4300 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

In [83]:
# According to the signs of dividing by 11, the first number will be 3003
count = 0
for i in range(3003, 4301, 11):
  if count == 9:
    print('')
    count = 0
  if i % 5 != 0:
    print(i, end=' ')
    count += 1
# it is interesting that 4301 already suits us
# I complicated the code a bit so that the answer is readable

3003 3014 3036 3047 3058 3069 3091 3102 3113
3124 3146 3157 3168 3179 3201 3212 3223 3234
3256 3267 3278 3289 3311 3322 3333 3344 3366
3377 3388 3399 3421 3432 3443 3454 3476 3487
3498 3509 3531 3542 3553 3564 3586 3597 3608
3619 3641 3652 3663 3674 3696 3707 3718 3729
3751 3762 3773 3784 3806 3817 3828 3839 3861
3872 3883 3894 3916 3927 3938 3949 3971 3982
3993 4004 4026 4037 4048 4059 4081 4092 4103
4114 4136 4147 4158 4169 4191 4202 4213 4224
4246 4257 4268 4279

### Задача 6

Используя циклы, напишите код, который создает список (list) путем конкатенации значений данного листа с целыми числами от 1 до (произвольного) n включительно.

Пример:

для списка ["сосиски", "горчица"] при n = 3 результат должен выглядеть так:

['сосиски$\_$1', 'горчица$\_$1', 'сосиски$\_2$', 'горчица$\_$2', 'сосиски$\_$3', 'горчица$\_$3']

In [88]:
def task_6(l, n):
  new_list = []
  for j in range(n):
    for i in l:
      new_list.append(i + '_' + str(j+1))
  return new_list


sample_list = ["мандаринки", "киви", "лимон"]
n = int(input('Введите целое число: '))
new_list = task_6(sample_list, n)

Введите целое число: 3

In [89]:
# it is not task, it is my test and visualation)
print(new_list)

['мандаринки_1', 'киви_1', 'лимон_1', 'мандаринки_2', 'киви_2', 'лимон_2', 'мандаринки_3', 'киви_3', 'лимон_3']

### Задача 7

Напишите код, который считает количество элементов в заданном списке до тех пор, пока не встретится элемент типа словарь.

Пример:

для списка [3, "котики", 0.45, 5, {'котики' : 2, 'слоники' : 9}, "слоники", 34] на выходе должны получить число 4

In [94]:
def no_pasaran_dict(m):
  count = 0
  for i in m:
    if (type(i) == dict) == False:
      count += 1
    else:
      return count
  return count


list_for_pro_task_2 = [35, 0.24, 3 + 4j, "котики", 0.45, (8, 9), "слоники", {"Мадрид": 3, 'Лондон':5}, 23498]
print(list_for_pro_task_2)
print(no_pasaran_dict(list_for_pro_task_2))
# but it is task_7, not 2! =))

[35, 0.24, (3+4j), 'котики', 0.45, (8, 9), 'слоники', {'Мадрид': 3, 'Лондон': 5}, 23498]
7

### Задача 8

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 20 включительно и значениями, соответствующими квадратам ключей. 

P.S. используйте циклы или функции, прямое "ручное" присваивание не допускается (!!!)

Пример: 

для чисел от 1 до 3 включительно словарь должен выглядеть так: {1 : 1, 2 : 4, 3 : 9}

In [95]:
n_and_q = dict()
for i in range(1, 21):
  n_and_q[i] = i**2
print(n_and_q)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}